.cards{
    gap: 20px;
}

section .Main{
 width: 1440px;
height: 466px;


}

.sec_main {
font-family: Poppins;
font-size: 28px;
font-weight: 700;
line-height: 48px;
text-align: left;
color: #000000;
margin-top: 80px;
margin-bottom: 50px;


}